/* Small screens (phones) */
@media (max-width: 600px) {
  .title {
    font-size: 2.5rem;
  }  
}

/* Medium screens (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 4.25rem;
  }
}

/* Large screens (desktops) */
@media (min-width: 1025px) {
  .title {
    font-size: 4.25rem;
  }
}



.titleStroke {
  -webkit-text-stroke: 0px #126DA6; /* viền vàng nhạt mỏng */
  text-shadow: 
    0 1px 0.1px rgb(255, 255, 255),   /* bóng sáng gần */
    0 2px 1px #ccdac6,  /* bóng sáng xa hơn */
    0 3px 5px #126DA6;  /* bóng sáng mờ dần */
}